<!-- app/views/timers/index.html.erb -->
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>休憩タイマーアプリ</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'timeup', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <!-- ヘッダー -->
    <!-- トップページのメイン -->
    <div class="map">
      <div class="map-city">
        <%= image_tag("top.jpg", alt: "Map Image") %>
      </div>
      <div class="textA"><a href="/">まずは新規登録、ログインをしてアプリを使用してください</a></div>
      <div class="date-time" id="datetime">
        <%= Time.now.strftime("%Y年%m月%d日（%A） %H:%M:%S") %>
      </div>
    </div>
  </body>
</html>
