<!-- app/views/timers/seting.html.erb -->
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  設定  </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="map">
      <div class="map-city">
        <%= image_tag("top.jpg", alt: "Map Image") %>
        <a href="<%= root_path %>">時刻設定</a>
                <!-- 日付と時間を表示 -->
        <div class="date-time" id="datetime">
          <%= Time.now.strftime("%Y年%m月%d日（%A） %H:%M") %>
        </div>
      </div>

  </body>
</html>
