<!-- app/views/timers/show.html.erb 
休憩時間を設定画面を作りたいので記述してください

休憩時間設定　　開始00：00　～　終了00：00

上記は6個設定できる

この時、休憩開始時間になると、アプリのブラウザが最大化されて
休憩終了時間になると自動的に最小化される。
かつ
ブラウザ最大化中は、中心にパスワードを入力する場所が出てきて
パスワードを入力すると解除される。
（この時のパスワードはユーザー登録した時のパスワードと同じにする）
上記の時のjabascriptﾌｧｲﾙの記述と　show.html.erbの記述を教えてください-->


<!DOCTYPE html>
<html>
<head>
  <title>Break Time</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'popup' %>
</head>
<body>
  <h1>Timer Details</h1>
  <%= @timer.name %>
  <!-- ここにタイマーの詳細情報を表示するコードを追加 -->
</body>
</html>
