
/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  padding: 0 100px 0 30px;
  background-color: #DBDBDB;
  text-decoration: none;
  color: #000000;
}



.navbar{
  padding: 0 1% 0 0;
  display: flex;
  justify-content: flex-end; /* ヘッダーの右端に寄せる */
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 100px; 
}

.nav-lists {
  height: 100px;
  display: flex;
}

.nav-lists__list {
  margin-left: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;   
}

.grid-6 {
  display: flex;
  align-items: center;
  margin-left: 10px; /* 要素間の余白を狭くする */
}

.post {
  margin-left: 20px; 
}

/******************************************************** 
　トップページ のメイン
********************************************************/
.map {
  position: relative;

}

.map img {
  width: 1495px;
  height: 1000px;
}

.map-city {
  display: inline-block;
  opacity: 0.5;
}

.map-city {
  display: inline-block;
  opacity: 1;
}

.map-city img {
  width: 1495px;
  height: 1000px;
}

.textA {
  position: absolute; /* 絶対位置指定 */
  top: 800px; /* 画像の上端から50%の位置 */
  left: 800px; /* 画像の左端から50%の位置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  background-color: rgba(255, 255, 255, 0.5); /* 背景色 */
  padding: 10px; /* テキストの周りに余白を設定 */
  opacity: 2;
  font-size: 30px;
}

.textB {
  position: absolute; /* 絶対位置指定 */
  top: 100px; /* 画像の上端から50%の位置 */
  left: 700px; /* 画像の左端から50%の位置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  background-color: rgba(255, 255, 255, 0.5); /* 背景色 */
  padding: 10px; /* テキストの周りに余白を設定 */
  opacity: 2;
  font-size: 30px;
}



.date-time{
  position: absolute; /* 絶対位置指定 */
  top: 70px; /* 画像の上端から50%の位置 */
  left: 1250px; /* 画像の左端から50%の位置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  background-color: rgba(255, 255, 255, 0.5); /* 背景色 */
  padding: 10px; /* テキストの周りに余白を設定 */
  font-size: 25px;
}



#break-settings {
  position: absolute; /* 絶対位置指定 */
  top: 300px; /* 画面の上端から50%の位置 */
  left: 700px; /* 画面の左端から50%の位置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  display: flex; /* 子要素をフレックスボックスとして配置 */
  flex-direction: column; /* 子要素を縦に並べる */
}

.break-time-form {
  font-size: 20px;
  background-color: #f0e9e9;
}







